module {{contractName}} {
  // Acquires and destroys
  public acquire(contract: Self.T, {{acquiringParameters}}) {
    let counterparty: address;
    let sender: address;
    {{additionalValueDefinitions}}

    {{thingsToDoOnAcquiring}}

    T { counterparty, {{contractVariable}} } = move(contract);

    sender = get_txn_sender();
    assert(copy(counterparty) == move(sender), 401);

    LibraAccount.deposit(move(counterparty), move(coin));

    return;
  }
}
